
body{
    background-color: black;
    color: white;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
   }
    /* for scrollbar */
    body::-webkit-scrollbar {
     width: 0.4em;
   }
    
   body::-webkit-scrollbar-track {
     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   }
    
   body::-webkit-scrollbar-thumb {
     background-color: #FFC107;
     outline: 1px solid black;
   }

   .navbar a{
    color: white;
  }
  .navbar{
   background-color: black;
  }
  .navbar a:hover{
   color: #FFC107;
  }
  
   .svg{
    padding-left: 2.5rem;
  }   

.jumbotron{
    background-color: #F10527;
    color: white;
    padding-top: 3rem;
    font-size: 1rem;
    height: 600px;
}

.jumbotron a{
  color:white;
  background-color: #F10527;
  border: 1px solid #FFC107;
  padding: .6rem;
  border-radius: .7rem;
}


.jumbotron a:hover{
  color:black;
  background-image: linear-gradient(to right, white , white);
}

.col img{
  width: 500px;
}



.col p{
  font-size: 1rem;
 }

 .col h5{
  line-height: 1.6;
  font-weight: 700;
}

.col img{
  width: 300px;
}

#imagebottom{
  display: none;
}

#imagetop{
  display: block;
}


.row { 
  margin-top: 5rem;
  padding-bottom: 7rem;
}


.item{
  padding-left: 5rem;
}

#footer{
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
}



/* Mobile view and tablet view */
@media only screen and (max-width: 767px) {
  /* For mobile phones: */
.svg{
  display: none;
}

  .col h5{
    line-height: 1.2;
    font-weight: 700;
  }

  .col p{
    font-size: .89rem;
   }

   

#specialcase{
  color: white;
  opacity: 1;
}


.jumbotron img{
  padding-top: 2em;
}

#textleft{
 padding-left: 0;
}

#imagebottom{
  display: block;
  padding-left: 4em;
}

#imagetop{
  display: none;
}


}
