*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.center {
    text-align: center;
}

.middle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.hidden {
    display: none !important;
}

body {
    margin: 0;
    height: 0;
    scroll-behavior: smooth;
    background-image:linear-gradient(#e66465, #9198e5);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

/* INDEX PAGE */

#background-image {
    background-image:linear-gradient(#e66465, #9198e5) ;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
}

#background-mask {
    height: 60%;
    background-color: black;
    opacity: 0.2;
    z-index: -1;
    box-shadow: 0px 0px 14px 2px black;
}

#title {
    font-size: 70px;
    color: #a55858;
    text-shadow: 0px 1px 3px black;
}

#subtitle {
    color: #ffffff;
    font-size: 25px;
    font-style: italic;
}

#container {
    width: 75%;
    height: 47%;
}

#buttons-wrapper {
    margin-top: 100px;
    display: inline-flex;
}

.button {
    width: 150px;
    height: 55px;
    font-size: 17px;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.4s;
}

.button:hover {
    opacity: 1;
    transform: scale(1.05);
}

#buttons-wrapper div {
    width: 60px;
}

.btn-signin {
    background-color: #a55858;
    border: none;
    box-shadow: inset 0px 0px 0px 3px white;
    color: white;
}

.btn-login {
    box-shadow: inset 0px 0px 0px 3px #a55858;
    border: none;
    color: #a55858;
    background-color: white;
}

.btn-default {
    box-shadow: inset 0px 0px 0px 3px #1f83ca;
    border: none;
    color: #1f83ca;
    background-color: white;
}

.btn-delete {
    box-shadow: inset 0px 0px 0px 3px red;
    border: none;
    color:red;
    background-color: white;
}

/* POPUP */

.popup-mask {
    background-color: black;
    opacity: 0.6;
    position: fixed;
}

/* END - POPUP */

/* LOGIN FORM */

.form-container {
    width: 350px;
    padding-top: 50px;
}

.form-title {
    font-size: 22px;
    padding-bottom: 30px;
}

.credentials-wrapper {
    display: grid;
    border-top: 2.5px solid #a55858;
}

.form-container div label {
    font-weight: 700;
    font-size: 20px;
}
.para{
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.form-container div input {
    margin-top: 20px;
    outline: none;
    box-shadow: none;
    border: none;
    padding: 5px;
    border-bottom: 1px solid black;
    font-size: 17px;
}

.btn-submit {
    float: right;
    width: 100px;
    height: 45px;
    margin-top: 15px;
}

.tou-wrapper {
    padding-top: 15px;
}

.tou-label {
    font-size: 15px !important;
    padding-left: 10px;
}

/* END - LOGIN FORM */

/* END - INDEX PAGE */

/* LOGEDIN */

#navbar-wrapper {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
    width: 700px;
    background-color: #509ab1;
    box-shadow: 0px 0px 12px -2px black;
}

#navbar {
    list-style: none;
    display: inline-flex;
    padding: 0;
}

#navbar div {
    width: 50px;
}

#navbar li {
    font-size: 22px;
    color: white;
    overflow: hidden;
    cursor: pointer;
}

#greetings-msg {
    width: 200px;
    cursor: default !important;
}

/* ARROWS */
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 7px;
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(134deg);
    -webkit-transform: rotate(134deg);
  }

/* END - ARROWS */

#arrow-wrapper {
    bottom: 0;
    position: absolute;
    right: 0;
    text-align: center;
    left: 0;
    margin: auto;
    height: 70px;
    padding-top: 30px;
}

#homepage-arrow:hover {
    padding: 15px;
    opacity: 1;
}

#homepage-arrow {
    padding: 12px;
    border: solid white;
    border-width: 0 5px 5px 0;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s;
}

/* DASHBOARD */

/* NAVBAR */

#dashb-navbar-wrapper {
    background-color: #3f7ea3;
    height: 80px;
    width: 100%;
    position: fixed;
    transition: 0.5s;
    z-index: 2;
}

#dashb-navbar {
    list-style: none;
    float: right;
    display: inline-flex;
    margin-right: 30px;
}

#dashb-navbar li {
    padding: 15px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/* END - NAVBAR */


.list-container-wrapper {
    width: 700px;
    margin: auto;
    height: 100px;
    background-color: white;
    box-shadow: 0px 5px 20px -4px black;
    transition: 0.4s;
    cursor: pointer;
    margin-bottom: 25px;
}

.list-container-wrapper:hover {
    transform: scale(1.018);
    background-color: #636262;
    color: white;
}

#list-container-back { 
    background-color: white;
    opacity: 0.7;
}

.list-container {
    list-style: none;
    display: flex;
    padding: 0;
    padding-top: 30px;
}

.list-container li {
    padding: 10px;
    overflow: hidden;
    font-size: 18px;
}

.list-date {
    width: 15%;
    text-align: center;
}

.list-title {
    width: 75%;
    height: 12px;
}

.list-nmr-items {
    width: 15%;
    text-align: center;
}

#lists-container {
    padding-top: 125px;
}

#no-lists-msg {
    text-align: center;
    color: white;
}

.add-lists-sign {
    color: white;
    font-size: 70px;
    cursor: pointer;
}

#add-lists-sign-cont {
    text-align: right;
    position: fixed;
    right: 35px;
    bottom: 20px;
}

#add-lists-sign-cont-noLists {
    text-align: center;
    transition: 0.3s;
}

#add-lists-sign-cont-noLists:hover {
    transform: scale(1.1);
}

/* INSIDE LIST */

#items-container {
    height: 425px;
    overflow-x: hidden;
    overflow-y: auto;
}

#add-new-item-sign {
    font-size: 40px;
    margin-left: 15px;
    margin-top: 5px;
    cursor: pointer;
    color: #a55858;
}
