

html, body {
    height:100%;
	background-color: black;
}

body {
	font-family: 'Lato', sans-serif;
	color: chocolate;
}
body::-webkit-scrollbar {
    width: 0.6em;
  }
  
  body::-webkit-scrollbar-thumb {
  background-color: chocolate;
  }
h1,h2,h3,h4,h5,h6 {
	font-family: 'Dosis', sans-serif;
}
a {
	color: chocolate;
	transition: 0.4s ease all;
	outline: none;
}
a:hover,a:active,a:focus{
	text-decoration: none;
	color: black;
	opacity: 0.9;
	outline: none;
}

.block_title {
    font-size: 3em;
    font-weight: 500;
    text-align: center;
    overflow: hidden;
    margin-bottom: 70px;
}
.block_title:before,.block_title:after {
    content: "";
    background: chocolate;
    display: inline-block;
    height: 1px;
    position: relative;
    width: 42%;
    vertical-align: middle;
}
.block_title:before {
    right: 0.5em;
    margin-left: -42%;
}
.block_title:after {
    left: 0.5em;
    margin-right: -42%;
}


/* ///////////////////////////////////////////////////////////////////// 
//  02 - Header 
/////////////////////////////////////////////////////////////////////*/

/* for hadling fading animation */

/* .fade-in {
	animation: fadeIn ease 10s;
	-webkit-animation: fadeIn ease 10s;
	-moz-animation: fadeIn ease 10s;
	-o-animation: fadeIn ease 10s;
	-ms-animation: fadeIn ease 10s;
  } */

  @keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
  }

/*  For handling dribble logo animation*/
  
@keyframes zoominoutsinglefeatured {
	0% {
		transform: scale(1,1);
	}
	50% {
		transform: scale(1.3,1.3);
	}
	100% {
		transform: scale(1,1);
	}
  }

header{
	background-color: black;
}

.dribble{
	margin-left: 10px;
	margin-bottom: 5px;
	animation: zoominoutsinglefeatured 2s infinite;
}
.center {
    text-align: center;
    color: #fff;
}
.bigheadline {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 10em;
	color: chocolate;
	margin: 0;
	animation: fadeIn ease 10s;
	-webkit-animation: fadeIn ease 10s;
	-moz-animation: fadeIn ease 10s;
	-o-animation: fadeIn ease 10s;
	-ms-animation: fadeIn ease 10s;
}
.subheadline {
	font-family: 'Titillium Web', sans-serif;
	color: chocolate;
	font-weight: 200;
	font-size: 3em;
	margin: 0;
	animation: fadeIn ease 10s;
	-webkit-animation: fadeIn ease 10s;
	-moz-animation: fadeIn ease 10s;
	-o-animation: fadeIn ease 10s;
	-ms-animation: fadeIn ease 10s;
}

.scrollDown {
    font-size: 4em;
    color: chocolate;
    position: absolute;
    bottom: 10%;
    left: 49%;
}
.scrollDown:hover{
	color: chocolate;
	transition: 0.4s ease all;
}


/* ///////////////////////////////////////////////////////////////////// 
//  03 - Navigation 
/////////////////////////////////////////////////////////////////////*/

#navigation{
	background: chocolate;
}
.nav-wrap {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.logo {
	height: 76px;
	display: table;
	text-align: left;
}

.logo-text {
    font-size: 3em;
    padding: 0.2em 0;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    display: table-cell;
	vertical-align: middle;
}

.menu {
    float: right;
    font-size: 3em;
    color: #fff;
    padding-top: 10px;
}
.dropdown-menu {
    min-width: 240px;
    right: 0;
    left: auto;
    border: 1px solid #000;
    box-shadow: none;
    border-radius: 0px;
    margin-top: 5px;
}
.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 1em 2em;
    margin-top: 5%;
}
.dropdown-menu ul li {
    padding: 0.3em 0em 0.6em 0em;
    font-size: 1.3em;
    position: relative;
}
.dropdown-menu ul li a i {
    position: absolute;
    right: 0;
    top: 20%;
    font-size: 25px;
}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	
	border-bottom: 8px solid white;
	float: right;
	margin-top: -5%;
	margin-right: 23px;
}


/* ///////////////////////////////////////////////////////////////////// 
//  04 - Services
/////////////////////////////////////////////////////////////////////*/



.services {
    max-width: 293px;
    height: 263px;
}
.exp{
	padding-top: 76px;
}
.service-area {
    margin: 80px 0px 40px 0px;
}

.service-wrap {
    width: 100%;
    height: 100%;
    border: 1px solid #B5B5B5;
    text-align: center;
    display: block;
    border-radius: 50%;
}
.service-wrap i {
    margin-top: 40px;
    transition: all 0.3s ease;
}
.service-wrap:hover i {
    color: white;
}
.service-wrap p {
    padding: 0px 40px;
    font-size: 13px;
}
.service-wrap h3 {
    margin: 10px 0px;
}
.pe-dj {
    font-size: 5em;
}


/* ///////////////////////////////////////////////////////////////////// 
//  05 - Portfolio
/////////////////////////////////////////////////////////////////////*/


#portfolio {
    padding: 80px 0px 0px 0px;
}

.port {
	list-style: none;
	text-align: left;
	padding-bottom: 40px;
}

.port .item {
	display: inline-block;
	text-align: left;
	position: relative;
}

.port figure {
	margin: 0;
	position: relative;
}

.port figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.port figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: chocolate;
	color: white;
}

.port figcaption h3 {
	margin: 0px 0px 8px 0px;
	padding: 0;
	color: #fff;
}

.port figcaption span:before {
	content: 'by ';
}

.port figcaption a {
	text-align: center;
	padding: 8px 15px;
	display: inline-block;
	color: #fff;
}

.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(10%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 31px;
	right: 20px;
}

.item-space {
    margin-bottom: 30px;
}

/* ///////////////////////////////////////////////////////////////////// 
//  07 - About
/////////////////////////////////////////////////////////////////////*/

@keyframes glow {
	from {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e6bc05, 0 0 40px #e7d90d, 0 0 50px #e6b000, 0 0 60px #b9ae11, 0 0 70px #e95b09;
	}
	to {
	  text-shadow: 0 0 20px #fff, 0 0 30px #91d129, 0 0 40px #ca7505, 0 0 50px #f0e0e8, 0 0 60px #cc7b30, 0 0 70px #d4c2cb, 0 0 80px #d8550a;
	}
  }

  #vibey{
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
  }
  
  

#about h1{
	text-align: center;
}

#about p{
 font-size: 1.4em;
}

#about{
	text-align: center;
	padding: 30px 0 90px 0;
}


/* ///////////////////////////////////////////////////////////////////// 
//  08 - Contact
/////////////////////////////////////////////////////////////////////*/




/*Social media links*/

#social {
    padding: 30px 0px 30px 0px;
    position: relative;
}

.normal-txt {
    color: chocolate;
    font-size: 3em;
    font-weight: 100;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.scoialinks {
    list-style: none;
    text-align: center;
    padding: 0;
}
.social-icons {
    display: inline-block;
    padding: 0px 5px;
}
.social-icons a {
    display: block;
    width: 50px;
    height: 50px;
    background-size: 100% 200%;
}

.social-icons a:hover {
    background-position: 0px -50px;
}
.facebook{
	background-image: url(../images/facebook.png);
}
.twitter{
	background-image: url(../images/twitter.png);
}
.devto{
	background-image: url(../images/devto.png);
}

.linkedin{
	background-image: url(../images/linkedin.png);
}
.github{
	background-image: url(../images/github.png);
}


/* ///////////////////////////////////////////////////////////////////// 
//  09 - Footer 
/////////////////////////////////////////////////////////////////////*/



#copyright{
	text-align: center;
}





/* ///////////////////////////////////////////////////////////////////// 
//  09 - Responsive Fixes
/////////////////////////////////////////////////////////////////////*/



@media all and (min-width: 1400px) {
	.centered p {
		font-size: 3em;
	}
	.bigheadline {
		font-size: 15em;
	}
	.subheadline {
		font-size: 5em;
	}
}

@media all and (max-width: 1200px) and (min-width: 992px) {

	.services {
		max-width: 293px;
		height: 213px;
	}
	.service-wrap i {
	    font-size: 4em;
	    margin-top: 28px;
	}
	.service-wrap h3 {
	    font-size: 1.4em;
	}
	.service-wrap p {
	    font-size: 11px;
	    padding: 0px 35px;
	}
}

@media all and (max-width: 991px) and (min-width: 768px) {

	.services {
		max-width: 293px;
		height: 293px;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.service-wrap p {
		padding: 0px 40px;
		font-size: 14px;
	}
	.pe-dj {
		font-size: 6em;
	}

}


@media all and (max-width: 768px) {
	.services {
		max-width: 293px;
		height: 293px;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	.pe-dj {
		font-size: 6em;
	}
	.service-wrap i {
		margin-top: 50px;
	}
	.centered p {
		font-size: 2em;
	}
	.bigheadline {
		font-size: 5em;
	}
	.subheadline {
		font-size: 1.8em;
	}
	.item-space figure {
	    max-width: 360px;
	    margin: 0 auto;
	}
	.moreDetails {
		margin-bottom: 60px;
	}
	.copyright, .designed {
		text-align: center;
	}
	.scrollDown {
	    top: 70%;
	    left: 46%;
	}
}
@media all and (max-width: 380px) {


	.logo-text {
	    font-size: 1.5em;
	}
	.centered p {
	    font-size: 1em;
	}
	.bigheadline {
	    font-size: 4em;
	}
	.subheadline {
	    font-family: 'Titillium Web',sans-serif;
	    font-size: 1.5em;
	    font-weight: 200;
	    margin: 0;
	}
	.testimonila-block p {
	    max-width: 90%;
	}
	.social-icons a {
	    width: 30px;
	    height: 30px;
	}
	
}

@media all and (max-width: 480px) {
	.logo-text {
	    font-size: 1.5em;
	}

	.scrollDown {
	    top: 70%;
	    left: 44%;
	}
}
